.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainChildContainer {
    display: flex;
    flex-direction: column;
}

.contentsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 24px;
    margin: 0px 300px 0px 301px;
}

.formContainer {
    max-width: 440px;
    min-width: 300px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    margin-top: 8px;
}

.titleContainer {
    max-width: 440px;
    min-width: 300px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    margin-top: 8px;
}

.logoCircleArea {
    margin: 30px auto;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: rgb(220, 0, 78);
}

/** 中央寄せ **/
.textAlignCenter {
    text-align: center;
}

/** 画像をselect不可 **/
.noSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** 画像を白くする **/
.white {
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}

/** テキスト入力 **/
.inputBigArea {
    margin-top: 16px;
    margin-bottom: 8px;
    width: 100%;
    box-sizing: content-box;
}

.inputFlexRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 8px;
    width: 100%;
    box-sizing: content-box;
}

.inputSmallArea {
    max-width: 49%;
}

/** submitボタン **/
.submitBtnArea {
    margin-top: 16px;
    margin-bottom: 8px;
    width: 100%;
    box-sizing: content-box;
}

.submitBtn {
    margin: 24px 0px 16px;
    padding: 6px 16px;
    width: 100%;
    background-color: rgb(78, 181, 250);
    border: none;
    box-shadow: 0 0 8px rgb(128, 128, 128);
    font-size: 15px;
    color: aliceblue;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1.75em;
}

/** checkbox **/
.checkboxContainer {
    margin-top: 30px;
}

.checkboxInput {
    display: none;
}

.checkboxParts {
    padding-left: 20px;
    position: relative;
    margin-right: 20px;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #999;
        border-radius: 4px;
    }
}

.checkboxInput:checked+.checkboxParts::after {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 5px;
    width: 7px;
    height: 14px;
    transform: rotate(40deg);
    border-bottom: 3px solid;
    border-right: 3px solid;
}

.errorMessage {
    color: rgb(224, 28, 28);
    font-weight: bold;
}

.successMessage {
    color: rgb(44, 44, 255);
    font-weight: bold;
}