.articlesContainer {
    display: flex;
    flex-direction: column;
    height: 700px;
    overflow-y: scroll;
}

.articleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px rgb(211, 211, 211);
    margin-bottom: 10px;
}

.headerContainer {
    background-color: rgb(199, 199, 199);
    margin-bottom: 0px;
}

.image {
    width: 60px;
    height: 60px;
}

.logo {
    padding-top: 7px;
    width: 35px;
    height: 35px;
}