body {
    font-family: sans-serif;
}

nav {
    background-color: #ffffff;
    color: rgb(27, 27, 27);

    ul {
        display: flex;
        flex-flow: row;
        margin: 0;
        list-style-type: none;
        border-bottom: solid rgb(146, 137, 137) 1px
    }

    a {
        display: block;
        border-radius: 4px;
        padding: 12px 24px;
        color: rgb(27, 27, 27);
        text-decoration: none;
        background-color: #f0f0f0;
    }

    li {
        margin: {
            bottom: .5rem;
            right: .5rem;
        }

        .loginColor {
            background-color: rgb(78, 181, 250);
            border-radius: 10px;
        }

        a:hover {
            background-color: #828a86;
            border-radius: 10px;
            border-color: transparent
        }
    }
}

.login {
    margin-left: auto;
}

.account {
    margin-left: auto;
}

.active {
    background-color: #99a39e;
    border-radius: 10px;
    border-color: transparent
}